<html>
    <head>
        <title>
           To Do List
        </title>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">

        <!-- link to bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- link for using font awesome icons -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        
        <!-- linking home stylesheet -->
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

        <!-- Main heading of the Page -->
        <div id='Main-header' >
          <div class="text-white">
            <h1 id='header'>Things To Do</h1>
          </div>

          <div>
            <!-- button to delete the selected task -->
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#delete" >
              <i class="fas fa-trash-alt"></i>
            </button>

            <!-- button for add the new task -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#input-form">
                <i class="fas fa-feather-alt"></i>
            </button>
          </div>

        </div>

        <!-- Input form for adding new task -->
        <div>
            <div class="modal fade" id="input-form" tabindex="-1" role="dialog" aria-labelledby="inputForm" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="inputForm">NEW TASK</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                        <form action='/create-note' method='POST'>
                    
                           <div class="form-group">
                               <label for='description'>Description:</label><br>
                               <input type='text' class="form-control" id='description' placeholder="Enter what you want to do"  name='description' required >
                            </div>
        
                            <div class="form-group">
                               <label for='date'>Due Date:</label><br>
                               <input type='date' class="form-control" id='date'  name='date' required >
                            </div>

                            <div class="form-group d-flex" >
                              <div class="w-50 m-1">
                                <label for="tag">Select Category:</label>
                                <select class="form-control" id="tag" name='category' >
                                  <option value='hidden'selected>None</option> 
                                  <option value='home'>Home</option>
                                  <option value='personal'>Personal</option>
                                  <option value='school'>School</option>
                                  <option value='office'>Office</option>
                                  <option value='medical'>Medical</option>
                                </select>
                              </div>

                              <div class="w-50 m-1">
                                <label for="priority">Select Priority:</label>
                                <select class="form-control" id="priority" name='priority'>
                                  <option value="dark" selected>None</option> 
                                  <option value='primary' >Most Important</option>
                                  <option value='secondary' >Important</option>
                                  <option value='success' >Today</option>
                                  <option value='danger' >Tomorrow</option>
                                  <option value='info' >Later</option>
                                </select>
                              </div>

                            </div>
                
                            <div class="form-group">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>      
                        </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <!-- Confirmation for Deleting the task/tasks -->

        <div class="modal"  id="delete" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">           
              <div class="modal-header">
                <h5 class="modal-title">Delete all / selected Tasks ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>   
              <div class="modal-body">
                <p>This action cannot be undone.</p>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="task-container">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        

        <!-- Container for all the tasks-->
        <form action="/delete-note" id='task-container'>

          <div id="note-container" class="d-flex flex-wrap ">
            <% for(let i of notes){ %>
              <div class="w-100 m-1">
                <div class="container-fluid border border-<%= i.priority %> text-<%= i.priority %> ">
                  <div class="row">
                    <!-- checkbox of the task -->
                    <div class="form-check col-sm-1 col-12 m-sm-0 m-2 d-flex align-items-center justify-content-center">
                      <input class="form-check-input" type="checkbox" name="_id" value="<%= i._id %>">
                    </div>
                    
                    <!-- description of the task -->
                    <div class="col-sm-9 col-12">
                      <div class="row">
                        <h3> <%= i.description %> </h3>
                      </div>

                      <!-- date of the task -->
                      <div class="row text-black-50" style=" opacity: 0.6;">
                        <h6 class> <i class="fas fa-calendar-alt"></i> <%= i.date %> </h6>
                      </div>

                    </div>

                    <!-- category of the task -->
                    <div style="visibility: <%= i.category %>;" class="col-sm-2 col-12 bg-<%= i.priority %> d-flex align-items-center justify-content-center text-uppercase text-white p-2 ">
                        <%= i.category %> 
                    </div>

                  </div>
                </div>
              </div>
            <% } %>
         </div>

       </form>


        <!-- Including JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/home.js"></script>
    
    </body>
</html>